<div>
    <input type="button" value="Display Books" (click)="loadBooks()"/>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>BooksNAME</th>
            <th>Images</th>
            
        </tr>
        <tr *ngFor="let books of books">
            <td>{{books.id}}</td>
            <td>{{books.name}}</td>
            <td><img src={{books.url}} width="200px" height="200px"/></td>
           
                         
        </tr>
    </table>
</div>
