body {background-color: rgb(24, 219, 233);
      
}
img {
    float: left;
    width: 100px;
    height: 420px;
    object-fit: cover;
}

.col-md-2 {
    border-radius: 4px;
    background: rgb(11, 240, 228);
    box-shadow: 0 6px 10px rgba(5, 114, 148, 0.863), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    /* padding: 14px 80px 18px 36px; */
    cursor: pointer;
    margin-top: 10em;
    margin-left: 5em;
}

.col-md-2:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(243, 4, 115, 0.836), 0 4px 8px rgb(236, 8, 225);
}

.row {
    margin-right: 2rem;
    margin-left: 5rem
}

.card-title {
    margin-bottom: -0.5rem;
    margin-top: 21em !important;
    font-weight: 700;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}

.nav {
    margin-left: 30% !important;
}

#defnition2 {
    color: black;
    width: fit-content !important;
}

.modal {
    width: 80%;
    height: 90%;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-top: 0.7em;
    border-radius: 7px;
}

#abou2 {
    text-align: center;
    text-size: 13px;
    color: rgba(204, 25, 25, 0.705);
    background-color: black;
    width: 100% !important;
    border-radius: 7px;
    padding: 0.7em;
    margin: auto;
    text-transform: uppercase;
}

.card1 {
    flex-direction: row;
    align-items: center;
}

.card-title1 {
    font-weight: bold;
}


