<div class="container">
    <div class="center">
       <a routerLink="/adminbookdashboard"><button type="button" class="btn btn-warning">Food Data</button></a>
       <a routerLink='/adminuserdashboard'><button type="button" class="btn btn-warning" style="margin-left: 20%;">User Data</button></a>
       <a routerLink='/todaybill'><button type="button" class="btn btn-success" style="margin-left: 20%;">Today's Bill</button></a>
       <a routerLink='/monthbill'><button type="button" class="btn btn-success" style="margin-left: 20%;">Month Bill</button></a>
    </div>
    <br>
    
    <div class="users">
       <p style="color: red;">Welcome To Food Feast {{this.email}}</p>
    </div>
 
    <table class="table table-dark ">
       <thead >
          <tr>
             <th scope="col">ID</th>
             <th scope="col">FOOD NAME</th>
             <th scope="col">PRICE</th>
             <th scope="col">QTY</th>
             <th scope="col">VISUALS</th>
             <!-- <th scope="col">EDIT FOOD ITEM</th>
             <th scope="col">DELETE FOOD ITEM</th> -->
             <th scope="col" colspan="3">Action</th>
           
          </tr>
       </thead>
       <tbody>
       <tr *ngFor='let item of item'>
             <td>{{item.id}}</td>
             <td>{{item.name}}</td>
             <td>{{item.price}}</td>
             <td>{{item.quality}}</td>
             <td>{{item.imageId}}</td>
             <td><a (click)="edit(item)"><i class="fa fa-edit" style="font-size:25px;color:green;"></i></a></td>
                 <td><a (click)="delete(item)"><i class="fa fa-trash" style="font-size:25px;color:red;"></i></a></td>
               <td>
                  <div class="center">
                     <a routerLink="/addbook"><button type="button" class="btn btn-danger">Add Foods</button></a>
                  </div>
               </td>
             
       </tr>
      </tbody>
 </table>
 </div>