
<div>
    <h2>WELCOME TO BOOK STORE</h2>
    <a routerLink="login" >Login</a>
    <a routerLink="adminregister">AdminRegister</a>
    <a routerLink="displaybooks">DisplayBooks</a>
    <router-outlet></router-outlet>
</div>