<div>
    <h2>Login page using Model Driven Form</h2>
    <form [formGroup]="loginRef" (ngSubmit)="checkUser()">
        <label>UserName</label>
        <input type="text" formControlName="user"/><br/>
        <div>
            <h2>Login Page using Template Driven Form</h2> 
            <input type="password" name="pass" ngModel required pattern="[a-z]+@[a-z]+.com"/><br/>
            <form #loginRef="ngForm" (ngSubmit)='checkUser(loginRef)'>
                <label>UserName</label>
                <input type="text" name="user" ngModel required minlength="2"/><br/>
                <div *ngIf="loginRef.controls['user'].invalid && 
                       (loginRef.controls['user'].dirty || loginRef.controls['user'].touched)">
                       <span [hidden]="!loginRef.controls['user'].errors?.['required']" style="color: orangered;">
                       User Name is required
                       </span>
                       <span [hidden]="!loginRef.controls['user'].errors?.['minlength']" style="color: orangered;">
                           Minmum 2 character
                       </span>
                       </div>
           
        <label>Password</label>
        <div *ngIf="loginRef.controls['pass'].invalid && 
            (loginRef.controls['pass'].dirty || loginRef.controls['pass'].touched)">
            <span [hidden]="!loginRef.controls['pass'].errors?.['required']" style="color: orangered;">
                password is required
            </span>
            <span [hidden]="!loginRef.controls['pass'].errors?.['pattern']" style="color: orangered;">
                pattern must match
            </span> 
            
            </div>
        <input type="password" formControlName="pass"/><br/>
        <input type="submit" value="submit"[disabled]="!loginRef.valid"/>
        <input type="reset" value="reset"/>
        </form>
        <p style="color:blue;">{{msg}}</p>
</div>