<div>
    <h2>Login using Template Driven Form</h2>
    <form #loginRef="ngForm" (ngSubmit)="checkUser(loginRef)">
        <label>UserName</label>
        <input type="text" name="user" ngModel/><br/>
        <input type="text" name="user" ngModel required/>
        <div *ngIf="loginRef.controls['user'].invalid && (loginRef.controls['user'].dirty ||
        loginRef.controls['user'].touched)">
        User name is required 
    </div>
        <label>Password</label>
        <input type="password" name ="pass" ngModel/><br/>
        <input type="submit" value="submit"/><br/>
        <input type="reset" value="reset"/><br/>
        <p style="color:rgb(166, 255, 0);">{{msg}}</p>
        </form>
</div>
