<div>
    <h2>Welcome to Home Page</h2>
    <input type="button" value="logout" (click)="logout()"/>
    <br/>
    <br/>
</div>
<div>
    <form #usersRef="ngForm" (ngSubmit)="storeUser(usersRef)" class="form-group">
        <label>ID</label>
        <input type="number" name="id" ngModel class="form-control"/><br/>
        <label>UserName</label>
        <input type="text" name="username" ngModel class="form-control"/><br/>
        <label>Password</label>
        <input type="password" name="password" ngModel class="form-control"/><br/>
        <input type="submit" value="store user" class="btn btn-success"/>
        <input type="reset" class="btn btn-info"/>
        </form><br/>
         

        <br/>
        {{storeMsg}}
        <hr/>
        <input type="button" value="Display Users" (click)="loadUsers()"/>
        <br/>
        <div *ngIf="flag">
            <h2>Update User</h2>
            <form (ngSubmit)="updateUserName()" class="form-group">
                <label>ID</label>
                <input type="number" name="id"[(ngModel)]="id" readonly class="formcontrol"/><br/>
                <label>UserName</label>
                <input type="text" name="username" [(ngModel)]="username"/><br/>
                <input type="submit" value="update user"/>
                <input type="reset" value="reset"/>
            </form>
            <hr/>
        </div>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>USERNAME</th>
                <th>DELETE USER</th>
                <th>UPDATE USER</th>
            </tr>
            <tr *ngFor="let users of users">
                <td>{{users.id}}</td>
                <td>{{users.username}}</td>
                <td><input type="button" value="delete" (click)="deleteUser(users.id)" class="btn btn-primary"/></td>
                <td><input type="button" value="update" (click)="updateUser(users)" class="btn btn-primary"/></td>
                             
            </tr>
        </table>
        <br/>
        {{deleteMsg}}


</div>
<form #booksRef="ngForm" (ngSubmit)="storeUser(booksRef)" class="form-group">
    <label>ID</label>
    <input type="number" name="id" ngModel class="form-control"/><br/>
    <label>BooksName</label>
    <input type="text" name="name" ngModel class="form-control"/><br/>
    <label>Genere</label>
    <input type="genere" name="genere" ngModel class="form-control"/><br/>
    <label>Image URL</label>
    <input type="url" name="url" ngModel class="form-control"/><br/>
    <input type="submit" value="store books" class="btn btn-success"/>
    <input type="reset" class="btn btn-info"/>
    </form><br/>
    <br/>
    {{storeMsg}}
    <hr/>
    <input type="button" value="Display Books" (click)="loadBooks()"/>
    <br/>
    <div *ngIf="flag">
        <h2>Update Books</h2>
        <form (ngSubmit)="updateBooksName()" class="form-group">
            <label>ID</label>
            <input type="number" name="id"[(ngModel)]="id" readonly class="formcontrol"/><br/>
            <label>BooksName</label>
            <input type="text" name="name" [(ngModel)]="name"/><br/>
            <input type="submit" value="update books"/>
            <input type="reset" value="reset"/>
        </form>
        <hr/>
    </div>
       
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>BooksNAME</th>
            <th>Images</th>
            <th>DELETE BOOKS</th>
            <th>UPDATE BOOKS</th>
        </tr>
        <tr *ngFor="let books of books">
            <td>{{books.id}}</td>
            <td>{{books.name}}</td>
            <td><img src={{books.url}} width="200px" height="200px"/></td>
            <td><input type="button" value="delete" (click)="deleteBooks(books.id)" class="btn btn-primary"/></td>
            <td><input type="button" value="update" (click)="updateBooks(books)" class="btn btn-primary"/></td>
                         
        </tr>
    </table>
    <br/>
    {{deleteBooksMsg}}
    <br/>
    {{updateBooksMsg}}
    




