<form>
    <div id="form">
       <div class="container">
          <div class="content-form">
             <div class="form-setter">
             
                <div id="login">
                   <div class="lable">Admin Login</div>>
                   <p id="error" style="color: yellow;display: none;text-align: center;"><b>Login Failed</b></p>
                <div class="container-fluid form-controlers">
                   <input type="email" placeholder="Email Id"  [(ngModel)]='email' name='email' required>
                   <input type="password" placeholder="Password"  [(ngModel)]='password' name='password'required>
                   <button (click)="login()" id="submit">login</button>
                </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </form>