.cardLogin {
	margin-left: 30%;
	margin-top: 20px;
	border: 2px solid rgb(231, 13, 13);
	display: inline-block;
	width: 35%;
	height: auto;
	border-radius: 20px;
}

.cardLogin:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.cardReg{
	margin-top: 20px;
	border: 4px solid rgb(241, 243, 237);
	display: inline-block;
	width: 35%;
	height: auto;
	border-radius: 20px;
}

.loginTitle {
	background-image: linear-gradient(to right, rgb(15, 165, 224),
	rgb(0, 92, 128));
	text-align: center;
	font-size: 30px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	height: 90px;
	font-size: 50px;
	padding: 5px;
	color: black;
}

.btnsubmit{
	margin-bottom: 10px;
}


.userName {
	margin: 10px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.inp {
	background-image: linear-gradient(to right, rgb(58, 230, 15),
		rgb(230, 230, 191));
	height: 50px;
	color: black
}

.email,.password,.name{
	margin-left: 20px;
	color: rgb(17, 5, 5);
}

body{
	background-color:white;
  }
