<div>
    <form [formGroup]="loginRef" (ngSubmit)="checkAdmin()">
        <label>AdminName</label>
        <input type="text" formControlName="adminname"/><br/>
        <label>Password</label>
        <input type="password" formControlName="password"/><br/>
        <input type="submit" value="submit"/>
        <input type="reset" value="reset"/>
    </form>
    <span style="color:brown">{{msg}}</span>
</div>

